<div id="job" class="page-layout carded fullwidth" layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center" layout="column" flex>

        <!-- CONTENT HEADER -->
        <div class="header" layout="row" layout-align="space-between center">
            <div class="white-fg" layout="column" layout-align="start start">
                <div class="h1" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-cube-outline"></md-icon>
                    <span translate="JOB.JOBS">Products</span>
                </div>
                <div class="job-count secondary-text">
                    <span translate="JOB.TOTAL_JOBS">Total jobs:</span>
                    <span>{{vm.jobs.length}}</span>
                </div>
            </div>

            <div class="search" layout="row" layout-align="start center" flex>
                <md-icon md-font-icon="icon-magnify" class="white-text icon search-icon"></md-icon>
                <input id="e-commerce-jobs-search" class="search-input" type="text" placeholder="Search"
                       translate translate-attr-placeholder="JOB.SEARCH" flex>
            </div>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card" layout="column" flex>

            <!-- CONTENT TOOLBAR -->

            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content fullpage-datatable" layout="column" flex>

                <table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstance"
                       dt-options="vm.dtOptions">
                    <thead>
                    <tr>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">ID</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Name</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Description</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Salary</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Status</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Action</span>
                            </div>
                        </th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="job in vm.jobs">
                        <td>{{job.id}}</td>
                        <td>{{job.name}}</td>
                        <td>{{job.description}}</td>
                        <td>{{job.salary}} TND</td>
                        <td>{{job.status}}</td>
                        <td>
                            <md-menu>
                                <md-button class="md-icon-button" ng-click="$mdOpenMenu()"
                                           aria-label="more">
                                    <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                                </md-button>

                                <md-menu-content width="3">
                                    <md-menu-item>
                                        <md-button ng-click="vm.gotoJobDetail(job.id)" aria-label="Details">
                                            Details
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="vm.showShareDialog($event, job.id)" aria-label="Share">
                                            Share
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="refreshWidget()" aria-label="Apply">
                                            Apply
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>