<div id="referee" class="page-layout carded fullwidth" layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center" layout="column" flex>

        <!-- CONTENT HEADER -->
        <div class="header" layout="row" layout-align="space-between center">
            <div class="white-fg" layout="column" layout-align="start start">
                <div class="h1" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-cube-outline"></md-icon>
                    <span translate="REFEREE.REFEREES">Products</span>
                </div>
                <div class="referee-count secondary-text">
                    <span translate="REFEREE.TOTAL_REFEREES">Total referees:</span>
                    <span>{{vm.referees.length}}</span>
                </div>
            </div>

            <div class="search" layout="row" layout-align="start center" flex>
                <md-icon md-font-icon="icon-magnify" class="white-text icon search-icon"></md-icon>
                <input id="e-commerce-referees-search" class="search-input" type="text" placeholder="Search"
                       translate translate-attr-placeholder="REFEREE.SEARCH" flex>
            </div>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card" layout="column" flex>

            <!-- CONTENT TOOLBAR -->

            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content fullpage-datatable" layout="column" flex>

                <table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstance"
                       dt-options="vm.dtOptions">
                    <thead>
                    <tr>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">CIN</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">First Name</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Last Name</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Email</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Job</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Application Date</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Progress</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Action</span>
                            </div>
                        </th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="referee in vm.referees">
                        <td>{{referee.cin}}</td>
                        <td>{{referee.firstname}}</td>
                        <td>{{referee.lastname}}</td>
                        <td>{{referee.email}}</td>
                        <td>{{referee.job[0].job.name}}</td>
                        <td>{{referee.job[0].date | date}}</td>
                        <td>{{referee.job[0].progress}} </td>
                        <td>
                            <md-menu>
                                <md-button class="md-icon-button" ng-click="$mdOpenMenu()"
                                           aria-label="more">
                                    <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                                </md-button>

                                <md-menu-content width="3">
                                    <md-menu-item>
                                        <md-button ng-click="vm.gotoJobDetail(referee.id)" aria-label="Details">
                                            Details
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>